# Dependencies
node_modules/

# Build outputs
dist/

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*

# OS files
.DS_Store

# Editor folders
.vscode/

# Coverage/temporary
coverage/
tmp/

